.history-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 5px 5px 5px 0px;
}

@media screen and (min-width: 768px) {
  .history-item {
    flex-direction: row;
    align-items: center;
    margin: 30px 5px 30px 0px;
  }
}

.time-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 96%;
  padding: 0;
  margin: 5px;
}

@media screen and (min-width: 768px) {
  .time-content-container {
    flex-direction: row;
    align-items: center;
  }
}

.time {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: #64748b;
  font-size: 10px;
  width: 20%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .time {
    font-size: 18px;
    font-weight: bold;
  }
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo-title-domain-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.logo-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.title-url-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .title-url-container {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  font-family: 'Roboto';
  color: #475569;
  font-size: 10px;
  margin-bottom: 0;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 18px;
    margin: 0 5px;
  }
}

.domain-url {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 12px;
  margin: 0;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .domain-url {
    margin: 0 5px;
    font-size: 16px;
  }
}

.btn-container {
  background-color: transparent;
  border: none;
  outline: none;
}

.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
